:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  background-color: var(--background);
  color: var(--text);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  
  --letter-size: 70px;
  --letter-size-code: 88px;
}

:root {
  --text: #0b040a;
  --background: #fbf4fb;
  --primary: #c93bc2;
  --secondary: #98e29a;
  --accent: #63d4cf;

  --text-50: #f8ecf6;
  --text-100: #f1daee;
  --text-200: #e4b4dd;
  --text-300: #d68fcc;
  --text-400: #c969bb;
  --text-500: #bb44a9;
  --text-600: #963688;
  --text-700: #702966;
  --text-800: #4b1b44;
  --text-900: #250e22;
  --text-950: #130711;

  --background-50: #f8ecf8;
  --background-100: #f1daf1;
  --background-200: #e4b4e4;
  --background-300: #d68fd6;
  --background-400: #c969c9;
  --background-500: #bb44bb;
  --background-600: #963696;
  --background-700: #702970;
  --background-800: #4b1b4b;
  --background-900: #250e25;
  --background-950: #130713;

  --primary-50: #faebf9;
  --primary-100: #f4d7f3;
  --primary-200: #e9afe6;
  --primary-300: #de87da;
  --primary-400: #d35fcd;
  --primary-500: #c837c1;
  --primary-600: #a02c9a;
  --primary-700: #782174;
  --primary-800: #50164d;
  --primary-900: #280b27;
  --primary-950: #140513;

  --secondary-50: #ebf9ec;
  --secondary-100: #d7f4d8;
  --secondary-200: #afe9b1;
  --secondary-300: #88dd8b;
  --secondary-400: #60d264;
  --secondary-500: #38c73d;
  --secondary-600: #2d9f31;
  --secondary-700: #227725;
  --secondary-800: #165018;
  --secondary-900: #0b280c;
  --secondary-950: #061406;

  --accent-50: #ebfaf9;
  --accent-100: #d7f4f3;
  --accent-200: #afe9e6;
  --accent-300: #87deda;
  --accent-400: #5fd3cd;
  --accent-500: #37c8c1;
  --accent-600: #2ca09a;
  --accent-700: #217874;
  --accent-800: #16504d;
  --accent-900: #0b2827;
  --accent-950: #051413;

  --color-gray: #232429; /* Same */
  --color-gray-900: #393A3F; /* New */
  --color-gray-800: #55565B; /* Davi's Grey */
  --color-gray-700: #75767B; /* Moiety */
  --color-gray-600: #828388; /* Old Silver */
  --color-gray-500: #919297; /* Gray Blue */
  --color-gray-400: #ADAEB3; /* Gravity */
  --color-gray-300: #C1C2C7; /* Seashell */
  --color-gray-200: #D3D4D9; /* Light Gray */
  --color-gray-100: #DEDFE4; /* Light Diamond */
  --color-gray-050: #F3F4F9; /* White Smoke */
  --color-gray-025: #F9FAFF; /* White Smoke Light */
}
:root.dark {
  --text: #fbf4fa;
  --background: #0b040b;
  --primary: #c436bd;
  --secondary: #1d6720;
  --accent: #2b9c96;

  --text-50: #130711;
  --text-100: #250e22;
  --text-200: #4b1b44;
  --text-300: #702966;
  --text-400: #963688;
  --text-500: #bb44a9;
  --text-600: #c969bb;
  --text-700: #d68fcc;
  --text-800: #e4b4dd;
  --text-900: #f1daee;
  --text-950: #f8ecf6;

  --background-50: #130713;
  --background-100: #250e25;
  --background-200: #4b1b4b;
  --background-300: #702970;
  --background-400: #963696;
  --background-500: #bb44bb;
  --background-600: #c969c9;
  --background-700: #d68fd6;
  --background-800: #e4b4e4;
  --background-900: #f1daf1;
  --background-950: #f8ecf8;

  --primary-50: #140513;
  --primary-100: #280b27;
  --primary-200: #50164d;
  --primary-300: #782174;
  --primary-400: #a02c9a;
  --primary-500: #c837c1;
  --primary-600: #d35fcd;
  --primary-700: #de87da;
  --primary-800: #e9afe6;
  --primary-900: #f4d7f3;
  --primary-950: #faebf9;

  --secondary-50: #061406;
  --secondary-100: #0b280c;
  --secondary-200: #165018;
  --secondary-300: #227725;
  --secondary-400: #2d9f31;
  --secondary-500: #38c73d;
  --secondary-600: #60d264;
  --secondary-700: #88dd8b;
  --secondary-800: #afe9b1;
  --secondary-900: #d7f4d8;
  --secondary-950: #ebf9ec;

  --accent-50: #051413;
  --accent-100: #0b2827;
  --accent-200: #16504d;
  --accent-300: #217874;
  --accent-400: #2ca09a;
  --accent-500: #37c8c1;
  --accent-600: #5fd3cd;
  --accent-700: #87deda;
  --accent-800: #afe9e6;
  --accent-900: #d7f4f3;
  --accent-950: #ebfaf9;

  --color-gray: #232429; /* Same */
  --color-gray-025: #393A3F; /* New */
  --color-gray-050: #55565B; /* Davi's Grey */
  --color-gray-100: #75767B; /* Moiety */
  --color-gray-200: #828388; /* Old Silver */
  --color-gray-300: #919297; /* Gray Blue */
  --color-gray-400: #ADAEB3; /* Gravity */
  --color-gray-500: #C1C2C7; /* Seashell */
  --color-gray-600: #D3D4D9; /* Light Gray */
  --color-gray-700: #DEDFE4; /* Light Diamond */
  --color-gray-800: #F3F4F9; /* White Smoke */
  --color-gray-900: #F9FAFF; /* White Smoke Light */
}


body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.unselectable {
  -moz-user-select: -moz-none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
